<div class="badges" *ngIf="queryParams$ | async as qp">
  <ng-container *ngIf="(qp | keyvalue).length > 0; else none">
    <span class="badge" *ngFor="let entry of qp | keyvalue">
      {{ names.get(entry.key) || entry.key }}
      <ng-container *ngIf="!isBooleanKey(entry.key)">: {{ entry.value }}</ng-container>
      <button type="button" class="x" (click)="removeOne(entry.key, qp)">
        <fa-icon icon="xmark"></fa-icon>
      </button>
    </span>

    <button type="button" class="clear" (click)="clearAll()">Remove all</button>
  </ng-container>

  <ng-template #none></ng-template>
</div>
