<form class="filters-form" [formGroup]="form" (ngSubmit)="applyFilters()">
  <h3 class="filter-title">Filters</h3>

  <div class="row">
    <div class="label">Price</div>
    <div class="pair">
      <input
        type="number"
        placeholder="From"
        formControlName="priceFrom"
        min="0"
        (keydown)="reformatNumber($event)"
      />
      <input
        type="number"
        placeholder="To"
        formControlName="priceTo"
        min="0"
        (keydown)="reformatNumber($event)"
      />
    </div>
  </div>

  <div class="row">
    <div class="label">Rating</div>
    <div class="pair">
      <input
        type="number"
        placeholder="From"
        formControlName="ratingFrom"
        min="0"
        max="5"
        step="0.1"
      />
      <input type="number" placeholder="To" formControlName="ratingTo" min="0" max="5" step="0.1" />
    </div>
  </div>

  <div class="row checks">
    <label><input type="checkbox" formControlName="inStock" /> In stock</label>
    <label><input type="checkbox" formControlName="hasReviews" /> Has reviews</label>
  </div>

  <div class="actions">
    <button type="submit">Apply</button>
    <button type="button" class="ghost" (click)="clearAll()">Clear all</button>
  </div>

  <div class="found">
    <ng-container *ngIf="productsQuantity > 0; else none">
      Found {{ productsQuantity }} product(s)
    </ng-container>
    <ng-template #none>No products found</ng-template>
  </div>
</form>
