<article class="tile" (click)="openPDP()">
  <img class="image" [src]="product.image" [alt]="product.title" />

  <h3 class="title">{{ product.title }}</h3>

  <div class="meta">
    <span
      >{{ product.rating.rate }} ★ <small>({{ product.rating.count }})</small></span
    >
    <span class="price">${{ product.price }}</span>
  </div>

  <app-add-to-cart-button
    (click)="$event.stopPropagation()"
    [product]="product"
    [disabled]="product.stock === 0"
  ></app-add-to-cart-button>

  <div class="actions">
    <button (click)="edit($event)"><fa-icon icon="pen"></fa-icon> Edit</button>
    <button class="danger" (click)="remove($event)"><fa-icon icon="trash"></fa-icon> Delete</button>
  </div>
</article>
